@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-rounded {
        @apply sm:w-12 sm:h-12 w-10 h-10 bg-neutral-700 rounded-full bg-gradient-to-tr from-neutral-700/50 via-neutral-700 to-neutral-800/50 shadow-inner shadow-neutral-600/60 flex justify-center items-center;
    }
}

html {
    --s: 50px;
    --c: #1f2428;
    --_s: calc(2 * var(--s)) calc(2 * var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, #282c34 68% 70%, #0000 72%;
    background: radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) / var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
        repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0 / var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s) var(--c);
    background-attachment: fixed;
}

$width: 350px;
$stroke-width: 1.5px;

.demo {
    &__loader {
        width: $width;
        height: auto;
        animation: scale 5s ease infinite;
    }
    &__wave {
        stroke: url("#gradient1");
        stroke-width: $stroke-width;
        transform-origin: 0% 50%;
    }
    @for $i from 2 through 25 {
        &__wave:nth-child(#{$i}) {
            animation: rotate (2500 + random(200 * $i)) + ms linear infinite;
            stroke: url("#gradient#{random(3)}");
        }
    }
}

@keyframes rotate {
    from {
        transform: rotateX(0);
    }

    to {
        transform: rotateX(360deg);
    }
}

@keyframes scale {
    0% {
        transform: scaleY(0.6);
    }

    50% {
        transform: scaleY(0.4);
    }

    100% {
        transform: scaleY(0.6);
    }
}
