@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-grid {
  grid-template-areas:
    ". . . jest jest jest . . . . . . . . ."
    ". . html html html rdx rdx rdx rdx rdx pret pret . . ."
    ". story story react react react react react react webp webp webp . . ."
    "css css css react react react react react react form form form form . ."
    "css css css git git . nx . . . vite vite vite . ."
    "lint ts ts ts ts ts nx js js js js js js . ."
    ". ts ts ts ts ts . js js js js js js . ."
    "tool tool tail tail next next next . mui mui node node node . ."
    "tool tool ant ant . fig fig . . query query query . . ."
    ". . . . . fig fig . . . . . . . .";
}

#css {
  letter-spacing: 0.5rem;
  text-align: end;
}

#html {
  letter-spacing: 0.5rem;
  text-align: end;
  align-self: center;
}

#rdx {
  letter-spacing: 0.5rem;
}

#react {
  letter-spacing: 0.7rem;
  text-align: center;
}

#tool {
  text-align: end;
}

#nx {
  letter-spacing: 0.5rem;
  align-self: center;
}

#js {
  align-self: center;
}
